<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- adding style to the page -->
    <link href='assets/styles.css' rel='stylesheet' type="text/css" />

    <title>Todo List App</title>
</head>
<body>
    <h1>MY TODO LIST</h1>
    <div id="todo-list">
        <form id="todo-list-app" method="POST" action="/">
            <input type="text" name="stuff" placeholder="Add your todo action here... " />
            <button type="submit">Submit</button>
        </form>
        <ul>
           <% todoItems.forEach(function(items){ %>
            <li>
                <%= items.stuff.stuff %>
            </li>
            <% }); %>
        </ul>
    </div>
</body>
</html>